*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fondo{
    background-image: url("https://i.pinimg.com/originals/69/ca/d4/69cad4b7a425f8814c2753078c3fb3dd.png");
}
.form{
    max-width: 700px;
    margin: auto;
    margin-top: 90px;
}

.form-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    background-color: white;
    box-shadow: 0 0 100px rgb(0, 30, 255);
    text-align: center;
    border-radius: 60px;
    margin-left: 250px;
}


.formulario h3{
    color: rgb(64, 97, 164);
    padding: 5px;
    text-align: center;
}

.input-number{ 
    height: 40px;
    padding: 0 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    background-color: rgb(216, 216, 216);
}
.btn{
    height: 40px;
    padding: 0 10px;
    width: 115px;
    outline: none;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(104, 102, 163);
}
.foto{
    width: 480px;
}
.foto2{
    width: 400px;
}
.foto3{
    width: 100px;
}
.foto3:hover{
    width: 70px;
}